body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

.inner {}

/* HEADER */
header {}

header .inner {}

header ul.menu {}

header ul.menu li {}

header ul.menu li a {}